# Architecture visualisation

## 0. Module requierement

In [1]:
from openalea.mtg.algo import orders
import pandas as pd
from oawidgets.mtg import plot
from oawidgets.plantgl import PlantGL
import openalea.plantgl.all as pgl

In [2]:
import openalea.strawberry #import openalea.strawberry module

from openalea.strawberry import Rules_production # impoort Rules_production functions from openalea.strawberry module
from openalea.strawberry import Visualization, visualisation2d # import Visualisation and Visualisation2d functions from openalea.strawberry module
from openalea.strawberry import analysis, variables # import analysis and variables functions from openalea.strawberry module
from openalea.strawberry.Import_mtgfile import import_mtgfile

## 1. import and load mtg file

In [3]:
Gariguette = import_mtgfile(filename= ["Gariguette"])
Capriss = import_mtgfile(filename= ["Capriss"])
# plot(Gariguette)

replace all the date format by -
replace all the date format by -

In [4]:
from openalea.mtg.algo import split
straws = split(Gariguette)
plot(straws[0])

## 2. Visualisations

In [5]:
Gariguette.properties()['order'] = orders(Gariguette) # This fonction are important it allows to add order properties to mtg
Capriss.properties()['order'] = orders(Capriss) # This fonction are important it allows to add order properties to mtg

Two complementary vizualisation are developt:   
* Two 3D vizualisation
* A 2D vizualisation

## 2.1. 3D Visualizations

3D vizualisation are compose of two possibles vizualisations:
+ With leaves (hide_leaves = False)
+ Without leaves (hide_leaves = True)

+ **3D vizualisation with leaves (hide_leaves = False)**  
This vizualisation allows to vizualised all plants along times.  
The growth developement are represented by occurence of the module order (rank of axis) which are colored accoding to module order.  
It permit also to see if growth developement are homogenous within each date.  
Comparison of this vizualisation between varieties allows to see vegetative growth différence between varieties

In [6]:
scene=Visualization.plot3d(Gariguette,by=["Sample_date"],hide_leaves=False,display=False)
PlantGL(scene, group_by_color=True)

2014/12/10
2015/01/08
2015/02/12
2015/03/06
2015/04/02
2015/05/19

c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:90: Warning: Invalid Color value 7 in setColor (maximum is 6)
  t.setColor(6+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:159: Warning: Invalid Color value 9 in setColor (maximum is 6)
  t.setColor(8+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:159: Warning: Invalid Color value 8 in setColor (maximum is 6)
  t.setColor(8+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:90: Warning: Invalid Color value 8 in setColor (maximum is 6)
  t.setColor(6+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:159: Warning: Invalid Color value 10 in setColor (maximum is 6)
  t.setColor(8+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:90: Warning: Invalid Color value 9 in setColor (maximum is 6)
  t.setColor(6+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:159: Warning: Invalid Color value 11 in setColor (maximum is 6)
  t.setColor(8+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:90: Warning: Invalid Color value 10 in setColor (maximum is 6)
  t.setColor(6+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:185: Warning: Invalid Color value 7 in setColor (maximum is 6)
  t.setColor(2+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:159: Warning: Invalid Color value 12 in setColor (maximum is 6)
  t.setColor(8+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:213: Warning: Invalid Color value 7 in setColor (maximum is 6)
  t.setColor(2+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:90: Warning: Invalid Color value 11 in setColor (maximum is 6)
  t.setColor(6+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:53: Warning: Invalid Color value 7 in setColor (maximum is 6)
  t.setColor(2+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:213: Warning: Invalid Color value 8 in setColor (maximum is 6)
  t.setColor(2+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:90: Warning: Invalid Color value 12 in setColor (maximum is 6)
  t.setColor(6+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:213: Warning: Invalid Color value 9 in setColor (maximum is 6)
  t.setColor(2+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:185: Warning: Invalid Color value 8 in setColor (maximum is 6)
  t.setColor(2+order)
c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:131: Warning: Invalid Color value 7 in setColor (maximum is 6)
  t.setColor(2+order)

UGxvdChhbnRpYWxpYXM9MywgYXhlcz1bJ3gnLCAneScsICd6J10sIGF4ZXNfaGVscGVyPTEuMCwgYmFja2dyb3VuZF9jb2xvcj0xNjc3NzIxNSwgY2FtZXJhPVs0LjUsIDQuNSwgNC41LCAwLjDigKY=

In [7]:
scene= Visualization.plot3d(Capriss,by=["Sample_date"],hide_leaves=False,display=False)
PlantGL(scene ,group_by_color=True)

2014/12/10
2015/01/07
2015/02/15
2015/03/02
2015/04/03
2015/05/27

c:\users\mlabadie\miniconda2\envs\openalea\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:159: Warning: Invalid Color value 13 in setColor (maximum is 6)
  t.setColor(8+order)

UGxvdChhbnRpYWxpYXM9MywgYXhlcz1bJ3gnLCAneScsICd6J10sIGF4ZXNfaGVscGVyPTEuMCwgYmFja2dyb3VuZF9jb2xvcj0xNjc3NzIxNSwgY2FtZXJhPVs0LjUsIDQuNSwgNC41LCAwLjDigKY=

+ **3D vizualisation without leaves (hide_leaves= True)**  
This vizualisation are the same previous vizualisation but without leaves. Hidden leaves hightlight Inflorescence shape (blue box). Shape of inflorescence reflect the intensity and complexity of the inflorescence for each plant.  
Like previously, this representation allow to see if architecture are homogenous between the plant within each date. It allows also to performed comparison between varieties

In [8]:
scene= Visualization.plot3d(Gariguette,by=["Sample_date"],hide_leaves=True,display=False)
PlantGL(scene, group_by_color= True)

2014/12/10
2015/01/08
2015/02/12
2015/03/06
2015/04/02
2015/05/19

UGxvdChhbnRpYWxpYXM9MywgYXhlcz1bJ3gnLCAneScsICd6J10sIGF4ZXNfaGVscGVyPTEuMCwgYmFja2dyb3VuZF9jb2xvcj0xNjc3NzIxNSwgY2FtZXJhPVs0LjUsIDQuNSwgNC41LCAwLjDigKY=

In [9]:
scene= Visualization.plot3d(Capriss,by=["Sample_date"],hide_leaves=True,display= False)
PlantGL(scene)

2014/12/10
2015/01/07
2015/02/15
2015/03/02
2015/04/03
2015/05/27

UGxvdChhbnRpYWxpYXM9MywgYXhlcz1bJ3gnLCAneScsICd6J10sIGF4ZXNfaGVscGVyPTEuMCwgYmFja2dyb3VuZF9jb2xvcj0xNjc3NzIxNSwgY2FtZXJhPVs0LjUsIDQuNSwgNC41LCAwLjDigKY=

## 2.2. 2D visualization

### 2.2.1 2D-Visualization plant by plant

**Commentaires:**  
- Amélioration possible donnée Génotype, date et Plante à la place de g.vertices et le numéros 
- Amélioré l'argument dist pour plus de clarté

In [10]:
scene=visualisation2d.plot2d(Gariguette,Gariguette.vertices(scale=1)[0:1],dist=[3]*3,display=False)
#PlantGL(scene)
len(scene)
#PlantGL(scene, group_by_color=False)
d=pgl.Discretizer()
status = True
l = list(scene)
#for i, sh in enumerate(scene):
    #status = sh.geometry.apply(d)
#    print i, status
 #   if i ==2: break
    #if d.discretization is None:
    #    print sh
    #else: print d.discretization.indexList
    
sh = l[0]
a, b=sh.geometry.geometry.geometry.geometry.geometryList
a.geometryList

GeometryArray([<openalea.plantgl.scenegraph._pglsg.Cylinder object at 0x000000000E3EDF50>,<openalea.plantgl.scenegraph._pglsg.Translated object at 0x000000000E3EDF50>])

In [11]:
scene=visualisation2d.plot2d(Gariguette,Gariguette.vertices(scale=1)[0:1],dist=[3]*3,display=True)
#PlantGL(scene)

In [12]:
d=pgl.Discretizer()
leaf= visualisation2d.leaf()
stolon= visualisation2d.stolon()
bud=visualisation2d.initiated_bud()
Inflo= visualisation2d.Inflorescence()

In [13]:
stolon.apply(d) , bud.apply(d) # probleme in inflorescence() and leaf()

(True, True)

In [14]:
cyl = pgl.Cylinder(0.01,0.5)
cyl2 =  pgl.AxisRotated(axis=(0,1,0), angle= radians(60.), geometry= cyl)
cyl3 = pgl.Translated(0,0,0.5,cyl2)
cl4= pgl.Group(cyl,cyl3)

disc= Disc()
disc = Translated((-.5,0,0), disc)
disc= AxisRotated(axis=(0,1,0), angle= radians(90.), geometry= disc)

d1 = AxisRotated(axis=(1,0,0), angle=-radians(60.), geometry=disc)
d2 = AxisRotated(axis=(1,0,0), angle=-radians(-60.), geometry=disc)
d3 = AxisRotated(axis=(1,0,0), angle=0., geometry=disc)
d1= Translated(0,0,1.6,d1)
d3= Translated(0,0,1,d3)
d2= Translated(0,0,1.6,d2)
d1=Scaled((0.01,0.3,0.15), d1)
d2=Scaled((0.01,0.3,0.15), d2)
d3=Scaled((0.01,0.15,0.3), d3)

leaflet= Group(d1,d2,d3)
leaflet = AxisRotated(axis=(0,1,0),angle=radians(0),geometry=leaflet)
leaflet = AxisRotated(axis=(1,0,0),angle=radians(60),geometry=leaflet)
leaflet = AxisRotated(axis=(0,0,1),angle=radians(90),geometry=leaflet)

leaflet = Translated((0.2,0,0.60),leaflet)
shape=Group(cl4,leaflet)

return(shape)

NameError: name 'radians' is not defined

In [ ]:
from math import radians
#petiol
cyl = pgl.Cylinder(0.01,0.5)
cyl2 = pgl.Cylinder(0.01,0.5)
cyl2 =  pgl.AxisRotated(axis=(0,1,0), angle= radians(60.), geometry= cyl2)
cyl2 = pgl.Translated(0,0,0.5,cyl2)

d1= pgl.Disc()
d1 =  pgl.Translated((0.9,0,0.75), d1)
d1= pgl.AxisRotated(axis=(1,0,0), angle= radians(60.), geometry= d1)
shape=pgl.Group(cyl,cyl2,d1)


pgl.Viewer.display(shape)

In [ ]:
d1= Disc()
d1 = Translated((-.5,0,0), d1)
d1= AxisRotated(axis=(0,1,0), angle= radians(90.), geometry= d1)

d2= Disc()
d2 = Translated((-.5,0,0), d2)
d2= AxisRotated(axis=(0,1,0), angle= radians(90.), geometry= d2)

d3= Disc()
d3 = Translated((.5,0,0), d3)
d3= AxisRotated(axis=(0,1,0), angle= radians(90.), geometry= d3)

d1 = AxisRotated(axis=(1,0,0), angle=-radians(60.), geometry=d1)
d2 = AxisRotated(axis=(1,0,0), angle=-radians(-60.), geometry=d2)
d3 = AxisRotated(axis=(1,0,0), angle=0., geometry=d3)

d1= Translated(0,0,1.6,d1)
d3= Translated(0,0,1,d3)
d2= Translated(0,0,1.6,d2)
d1=Scaled((0.01,0.3,0.15), d1)
d2=Scaled((0.01,0.3,0.15), d2)
d3=Scaled((0.01,0.15,0.3), d3)

pgl.Viewer.display(d1)

### 2.2.2 visualization of the most central individuals

To vizualise the most central individual you need to calculated the central individual for each date.  
1. For this you must to extract MTG information of all properties for each genotype and date at plant scale using variables.extract_at_plant_scale function.
2. From this extraction you use analysis.median_individuals fonction, which permit to calculate the most central individual based on meadian for must robusted.

#### 2.2.2.1 Extraction of data at plant scale using ariable.extract_at_plant_scale function

* **Example for Gariguette**

In [15]:
# Extraction of data at plant scale
Gariguette_data_extraction_at_plant_scale = variables.extract_at_plant_scale(Gariguette)
Gariguette_data_extraction_at_plant_scale

,Genotype,date,modality,plant,nb_total_leaves,nb_total_flowers,nb_stolons,nb_visible_leaves,nb_missing_leaves,nb_vegetative_bud,nb_initiated_bud,nb_floral_bud,nb_inflorescence,leaf_area,order_max,nb_ramifications,vid
0,Gariguette,2014/12/10,A,1,12,0,1,8,0,1,3,7,0,56.33,0,0,1
1,Gariguette,2014/12/10,A,2,12,0,1,8,0,4,3,4,0,55.52,0,0,73
2,Gariguette,2014/12/10,A,3,14,0,2,11,0,3,1,8,0,42.47,0,0,146
3,Gariguette,2014/12/10,A,4,11,0,0,8,0,6,0,5,0,32.84,0,0,263
4,Gariguette,2014/12/10,A,5,10,0,1,6,0,5,2,2,0,48.26,0,0,326
5,Gariguette,2014/12/10,A,6,11,0,1,7,0,3,2,5,0,47.28,0,0,382
6,Gariguette,2014/12/10,A,7,11,0,1,7,0,7,1,2,0,39.71,0,0,444
7,Gariguette,2014/12/10,A,8,9,0,1,6,0,1,3,4,0,65.60,0,0,504
8,Gariguette,2014/12/10,A,9,10,0,1,7,0,4,0,5,0,47.19,0,0,561
9,Gariguette,2015/01/08,A,1,34,0,1,15,0,14,3,13,0,0.00,1,3,635
10,Gariguette,2015/01/08,A,2,15,14,2,11,0,2,2,9,0,55.52,0,0,816
11,Gariguette,2015/01/08,A,3,23,0,0,17,0,10,0,10,1,49.19,1,2,913
12,Gariguette,2015/01/08,A,4,17,22,0,14,0,5,1,10,1,52.30,1,1,1050
13,Gariguette,2015/01/08,A,5,13,20,3,13,0,0,0,9,1,80.35,0,0,1201
14,Gariguette,2015/01/08,A,6,11,18,1,11,0,1,0,9,1,52.30,0,0,1321
15,Gariguette,2015/01/08,A,7,12,17,0,12,0,0,0,12,1,59.89,0,0,1426
16,Gariguette,2015/01/08,A,8,11,19,1,11,0,1,0,9,1,0.00,0,0,1533
17,Gariguette,2015/01/08,A,9,9,24,1,9,0,0,1,7,1,47.84,0,0,1620
18,Gariguette,2015/02/12,A,1,38,41,0,33,0,12,1,19,6,85.55,1,5,1709
19,Gariguette,2015/02/12,A,2,21,30,0,18,0,4,2,9,3,89.21,1,2,1947
20,Gariguette,2015/02/12,A,3,15,42,1,15,0,3,0,9,3,93.65,1,1,2067
21,Gariguette,2015/02/12,A,4,10,32,0,10,0,1,0,8,2,85.55,1,0,2167
22,Gariguette,2015/02/12,A,5,31,33,0,27,0,6,3,16,3,104.85,1,3,2238
23,Gariguette,2015/02/12,A,6,24,43,2,24,0,4,1,14,4,142.62,1,2,2441
24,Gariguette,2015/02/12,A,7,10,21,0,10,0,0,1,8,2,87.73,1,0,2603
25,Gariguette,2015/02/12,A,8,17,31,0,17,0,2,1,11,3,81.71,1,1,2678
26,Gariguette,2015/02/12,A,9,15,30,0,15,0,1,1,11,3,91.12,1,1,2790
27,Gariguette,2015/03/06,A,1,15,29,0,15,0,0,0,11,3,100.99,1,1,2896
28,Gariguette,2015/03/06,A,2,17,38,1,17,0,3,1,7,4,105.06,2,1,2987
29,Gariguette,2015/03/06,A,3,20,42,0,18,0,4,1,11,4,65.60,2,1,3075
30,Gariguette,2015/03/06,A,4,23,27,0,18,0,7,0,12,3,123.73,2,1,3194
31,Gariguette,2015/03/06,A,5,23,39,2,18,0,6,2,9,3,113.99,2,1,3324
32,Gariguette,2015/03/06,A,6,18,36,2,18,0,3,3,8,3,89.73,1,1,3441
33,Gariguette,2015/03/06,A,7,14,31,0,12,0,1,3,6,3,84.26,3,0,3553
34,Gariguette,2015/03/06,A,8,16,42,1,16,0,1,0,10,3,84.47,2,0,3627
35,Gariguette,2015/03/06,A,9,28,36,0,23,0,9,2,12,4,130.59,2,2,3732
36,Gariguette,2015/04/02,A,1,50,78,1,42,0,18,1,15,9,113.00,2,6,3879
37,Gariguette,2015/04/02,A,2,23,55,0,22,0,6,1,9,5,117.72,3,1,4124
38,Gariguette,2015/04/02,A,3,14,34,0,14,0,3,0,8,3,0.00,1,1,4242
39,Gariguette,2015/04/02,A,4,42,55,6,32,0,7,1,12,6,167.66,2,3,4310
40,Gariguette,2015/04/02,A,5,15,43,0,15,0,4,1,5,4,64.42,2,1,4476
41,Gariguette,2015/04/02,A,6,24,49,1,21,0,5,3,3,5,152.90,2,2,4556
42,Gariguette,2015/04/02,A,7,28,50,2,25,0,8,0,8,5,72.76,2,2,4653
43,Gariguette,2015/04/02,A,8,71,75,1,57,0,25,7,14,9,154.91,3,7,4768
44,Gariguette,2015/04/02,A,9,24,31,1,20,0,8,0,7,3,71.58,2,1,5078
45,Gariguette,2015/05/19,A,1,35,52,3,33,0,10,0,7,9,149.47,4,2,5182
46,Gariguette,2015/05/19,A,2,38,67,0,34,0,3,2,13,8,49.64,3,3,5328
47,Gariguette,2015/05/19,A,3,33,51,1,27,0,8,0,10,7,67.96,3,3,5511
48,Gariguette,2015/05/19,A,4,17,33,0,17,0,3,0,5,4,77.18,3,0,5654
49,Gariguette,2015/05/19,A,5,31,62,4,31,0,9,2,7,9,197.84,4,1,5725
50,Gariguette,2015/05/19,A,6,41,76,4,41,0,9,0,14,12,160.45,5,2,5860
51,Gariguette,2015/05/19,A,7,27,51,1,27,0,6,3,6,8,89.41,4,1,6054
52,Gariguette,2015/05/19,A,8,25,46,2,25,0,6,1,6,6,75.25,3,1,6169
53,Gariguette,2015/05/19,A,9,47,90,6,47,0,15,2,9,13,137.41,4,5,6293

+ **Example for Capriss**

In [16]:
# Extraction of data at plant scale
Capriss_data_extraction_at_plant_scale = variables.extract_at_plant_scale(Capriss)
Capriss_data_extraction_at_plant_scale

,Genotype,date,modality,plant,nb_total_leaves,nb_total_flowers,nb_stolons,nb_visible_leaves,nb_missing_leaves,nb_vegetative_bud,nb_initiated_bud,nb_floral_bud,nb_inflorescence,leaf_area,order_max,nb_ramifications,vid
0,Capriss,2014/12/10,A,1,14,0,2,11,0,1,1,9,0,135.74,0,0,1
1,Capriss,2014/12/10,A,2,16,0,2,10,0,10,0,3,0,224.86,1,1,120
2,Capriss,2014/12/10,A,3,8,0,1,6,0,3,1,3,0,41.55,0,0,212
3,Capriss,2014/12/10,A,4,10,0,2,8,0,3,2,3,0,96.70,0,0,266
4,Capriss,2014/12/10,A,5,10,0,1,8,0,0,2,7,0,127.37,0,0,344
5,Capriss,2014/12/10,A,6,11,0,1,9,0,2,2,6,0,95.24,0,0,439
6,Capriss,2014/12/10,A,7,10,0,1,8,0,4,0,4,0,73.96,0,0,527
7,Capriss,2014/12/10,A,8,8,0,1,6,0,3,1,3,0,65.47,0,0,607
8,Capriss,2014/12/10,A,9,13,0,1,9,0,3,1,7,0,72.80,1,1,672
9,Capriss,2015/01/07,A,1,12,0,2,10,0,4,0,5,1,45.33,1,1,758
10,Capriss,2015/01/07,A,2,25,14,2,15,0,9,0,4,1,35.35,1,4,839
11,Capriss,2015/01/07,A,3,15,0,2,13,0,1,2,8,1,34.49,1,1,962
12,Capriss,2015/01/07,A,4,33,21,1,23,0,12,3,8,2,39.64,2,5,1080
13,Capriss,2015/01/07,A,5,16,13,2,11,0,5,0,5,1,33.55,1,2,1253
14,Capriss,2015/01/07,A,6,21,15,3,16,0,7,1,6,1,56.59,1,3,1352
15,Capriss,2015/01/07,A,7,26,14,2,17,0,7,2,5,1,56.54,1,4,1473
16,Capriss,2015/01/07,A,8,20,0,3,18,0,7,1,6,0,37.07,1,2,1592
17,Capriss,2015/01/07,A,9,17,13,1,13,0,6,2,5,1,38.83,1,2,1707
18,Capriss,2015/02/15,A,1,27,0,3,23,0,11,1,5,2,28.92,2,3,1803
19,Capriss,2015/02/15,A,2,30,13,2,27,0,8,0,9,6,45.33,1,5,1924
20,Capriss,2015/02/15,A,3,31,21,2,25,0,8,0,9,6,59.70,2,4,2088
21,Capriss,2015/02/15,A,4,17,7,3,13,0,9,1,2,1,64.44,1,1,2249
22,Capriss,2015/02/15,A,5,27,11,2,23,0,10,1,7,4,43.42,1,4,2325
23,Capriss,2015/02/15,A,6,25,26,2,21,0,10,1,6,3,48.14,2,2,2474
24,Capriss,2015/02/15,A,7,20,5,4,15,0,8,1,1,3,40.50,2,1,2606
25,Capriss,2015/02/15,A,8,29,16,2,22,0,15,1,2,4,72.67,2,4,2685
26,Capriss,2015/02/15,A,9,43,21,1,32,0,19,2,9,4,39.73,2,6,2808
27,Capriss,2015/03/02,A,1,24,24,1,21,0,8,2,6,4,96.70,2,2,3002
28,Capriss,2015/03/02,A,2,18,25,2,18,0,3,1,7,4,68.81,1,2,3130
29,Capriss,2015/03/02,A,3,31,17,3,25,0,11,4,5,3,56.54,2,4,3224
30,Capriss,2015/03/02,A,4,33,14,4,23,0,15,3,2,2,62.14,2,3,3359
31,Capriss,2015/03/02,A,5,36,20,4,28,0,15,3,6,3,86.94,2,3,3482
32,Capriss,2015/03/02,A,6,29,22,2,24,0,9,2,5,4,0.00,2,3,3638
33,Capriss,2015/03/02,A,7,45,26,2,35,0,23,3,8,5,75.51,2,4,3765
34,Capriss,2015/03/02,A,8,55,25,3,41,0,27,4,6,4,55.52,2,5,3975
35,Capriss,2015/03/02,A,9,50,25,1,31,0,24,5,2,5,60.77,2,5,4186
36,Capriss,2015/04/03,A,1,36,25,3,31,0,13,5,8,4,123.51,2,3,4357
37,Capriss,2015/04/03,A,2,45,24,0,34,0,23,1,5,6,43.40,2,5,4528
38,Capriss,2015/04/03,A,3,45,53,3,40,0,18,4,7,6,86.94,2,4,4682
39,Capriss,2015/04/03,A,4,45,37,3,39,0,16,7,6,7,83.01,2,5,4877
40,Capriss,2015/04/03,A,5,41,31,2,34,0,18,3,5,6,72.68,2,4,5062
41,Capriss,2015/04/03,A,6,35,27,2,34,0,13,2,9,7,100.99,2,3,5222
42,Capriss,2015/04/03,A,7,48,49,1,42,0,23,3,7,10,120.94,3,4,5384
43,Capriss,2015/04/03,A,8,36,31,1,31,0,17,0,7,5,114.59,2,3,5595
44,Capriss,2015/04/03,A,9,46,38,2,40,0,16,1,6,7,99.49,2,5,5737
45,Capriss,2015/05/27,A,1,69,71,4,65,0,16,3,16,16,138.63,3,5,5909
46,Capriss,2015/05/27,A,2,45,38,5,41,0,12,1,5,9,169.89,3,4,6175
47,Capriss,2015/05/27,A,3,45,40,5,42,0,11,1,7,11,133.94,3,3,6324
48,Capriss,2015/05/27,A,4,61,63,1,55,0,24,1,8,14,82.76,4,4,6488
49,Capriss,2015/05/27,A,5,40,40,2,37,0,16,0,4,10,184.32,4,2,6693
50,Capriss,2015/05/27,A,6,45,49,0,43,0,12,0,9,13,52.30,4,4,6826
51,Capriss,2015/05/27,A,7,70,63,3,60,0,19,1,10,15,86.83,3,6,7002
52,Capriss,2015/05/27,A,8,51,52,4,50,0,13,2,13,13,102.96,4,4,7223
53,Capriss,2015/05/27,A,9,49,55,1,47,0,17,0,12,11,129.52,3,3,7443

#### 2.2.2.2 Calcul of the most central individual for each date using analysis.median_individuals function from extraction_at_plant_scale

+ **Example with Gariguette**

In [17]:
# Function to select the most central individual with all variable 
Gariguette_most_central_individual = analysis.median_individuals(Gariguette_data_extraction_at_plant_scale)
Gariguette_most_central_individual

,Genotype,date,modality,plant,nb_total_leaves,nb_total_flowers,nb_stolons,nb_visible_leaves,nb_missing_leaves,nb_vegetative_bud,nb_initiated_bud,nb_floral_bud,nb_inflorescence,leaf_area,order_max,nb_ramifications,vid
5,Gariguette,2014/12/10,A,6,11,0,1,7,0,3,2,5,0,47.28,0,0,382
14,Gariguette,2015/01/08,A,6,11,18,1,11,0,1,0,9,1,52.30,0,0,1321
25,Gariguette,2015/02/12,A,8,17,31,0,17,0,2,1,11,3,81.71,1,1,2678
28,Gariguette,2015/03/06,A,2,17,38,1,17,0,3,1,7,4,105.06,2,1,2987
42,Gariguette,2015/04/02,A,7,28,50,2,25,0,8,0,8,5,72.76,2,2,4653
45,Gariguette,2015/05/19,A,1,35,52,3,33,0,10,0,7,9,149.47,4,2,5182

In [18]:
Capriss_most_central_individual = analysis.median_individuals(Capriss_data_extraction_at_plant_scale)
Capriss_most_central_individual

,Genotype,date,modality,plant,nb_total_leaves,nb_total_flowers,nb_stolons,nb_visible_leaves,nb_missing_leaves,nb_vegetative_bud,nb_initiated_bud,nb_floral_bud,nb_inflorescence,leaf_area,order_max,nb_ramifications,vid
6,Capriss,2014/12/10,A,7,10,0,1,8,0,4,0,4,0,73.96,0,0,527
13,Capriss,2015/01/07,A,5,16,13,2,11,0,5,0,5,1,33.55,1,2,1253
22,Capriss,2015/02/15,A,5,27,11,2,23,0,10,1,7,4,43.42,1,4,2325
31,Capriss,2015/03/02,A,5,36,20,4,28,0,15,3,6,3,86.94,2,3,3482
40,Capriss,2015/04/03,A,5,41,31,2,34,0,18,3,5,6,72.68,2,4,5062
53,Capriss,2015/05/27,A,9,49,55,1,47,0,17,0,12,11,129.52,3,3,7443

#### 2.2.2.3 Vizualisation of the most central plant along time

+ **Example for Gariguette**

In [19]:
# selection of vid of median individuals
pids = list(Gariguette_most_central_individual.vid)
n = len(pids)

# Plot 2D- visualisation of the most central plant
scene= visualisation2d.plot2d(Gariguette, pids, dist=[6]*n, display=True)
#PlantGL(scene, group_by_color= False)

* **Example for Capriss**

In [20]:
# selection of vid of median individuals
pids = list(Capriss_most_central_individual.vid)
n = len(pids)

# Plot 2D- visualisation of the most central plant
visualisation2d.plot2d(Capriss, pids, dist=[6]*n)