# Architecture analysis at module scale

## 0. Module Requierement

### 0.1. import standard python modules

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### 0.3. import strawberry modules

In [2]:
import openalea.strawberry #import openalea.strawberry module
from openalea.strawberry.Import_mtgfile import import_mtgfile
from openalea.strawberry.Import_mtgfile import plant_number_by_varieties
from openalea.strawberry.variables import extract_at_module_scale
from openalea.strawberry.analysis import occurence_module_order_along_time, pointwisemean_plot, crowntype_distribution

In [3]:
# config
pd.set_option('display.multi_sparse', False)

## 1. Import  and read mtg files

* Import and read mtg file for each varieties (Gariguette and Capriss)

In [4]:
Gariguette = import_mtgfile(filename= "Gariguette")
Capriss = import_mtgfile(filename = "Capriss")
Darselect = import_mtgfile(filename = "Darselect")
Cir107 = import_mtgfile(filename = "Cir107")

* Import and read mtg for the varities Gariguette and Capriss in the single big mtg file

In [5]:
All_varieties = import_mtgfile(filename=["Gariguette","Capriss","Darselect","Cir107"])
plant_number_by_varieties(All_varieties)

Darselect : 54 plants
Capriss : 54 plants
Cir107 : 54 plants
Gariguette : 54 plants

## 2. Extraction of data at module scale

To study plant development at module scale you must extract data at module scale.  
For this you use *variable.extract_at_module_scale* function

* **Example with Gariguette**

In [6]:
Gariguette_extraction_at_module_scale = extract_at_module_scale(Gariguette)
Gariguette_extraction_at_module_scale

,Genotype,date,modality,plant,order,nb_visible_leaves,nb_foliar_primordia,nb_total_leaves,nb_open_flowers,nb_aborted_flowers,nb_total_flowers,nb_vegetative_bud,nb_initiated_bud,nb_floral_bud,nb_stolons,type_of_crown,crown_status,vid,plant_vid
0,Gariguette,2015/04/02,A,9,1,2,0,2,6,0,6,1,0,0,0,3,4,5120,5078
1,Gariguette,2015/04/02,A,6,2,2,3,5,0,0,0,3,0,1,0,3,3,4609,4556
2,Gariguette,2014/12/10,A,1,0,8,4,12,0,0,0,1,3,7,1,1,3,2,1
3,Gariguette,2015/03/06,A,3,0,10,0,10,17,0,19,0,0,8,0,1,4,3076,3075
4,Gariguette,2015/04/02,A,9,2,2,2,4,0,0,0,2,0,1,0,2,3,5125,5078
5,Gariguette,2015/05/19,A,7,4,3,0,3,0,0,5,2,0,0,1,2,4,6151,6054
6,Gariguette,2015/03/06,A,7,2,3,0,3,2,0,8,0,1,0,0,2,4,3595,3553
7,Gariguette,2015/02/12,A,6,1,3,0,3,0,0,12,1,1,1,0,2,4,2574,2441
8,Gariguette,2015/04/02,A,1,1,3,0,3,9,0,9,1,0,0,0,2,4,4075,3879
9,Gariguette,2015/05/19,A,6,5,3,0,3,4,0,7,1,0,0,2,2,4,5976,5860
10,Gariguette,2015/04/02,A,6,2,3,0,3,1,0,7,1,1,1,0,2,4,4627,4556
11,Gariguette,2015/02/12,A,3,0,9,0,9,3,0,22,0,0,6,1,1,4,2068,2067
12,Gariguette,2015/03/06,A,7,3,1,2,3,0,0,0,1,1,1,0,2,3,3605,3553
13,Gariguette,2015/04/02,A,8,2,3,0,3,0,0,7,2,0,1,0,2,4,4953,4768
14,Gariguette,2015/05/19,A,4,2,3,0,3,0,0,0,1,0,1,0,2,4,5695,5654
15,Gariguette,2015/05/19,A,8,0,9,0,9,23,0,23,1,0,1,0,1,4,6170,6169
16,Gariguette,2015/01/08,A,4,0,11,0,11,0,0,22,0,0,10,0,1,4,1051,1050
17,Gariguette,2015/01/08,A,4,1,3,3,6,0,0,0,5,1,0,0,3,3,1053,1050
18,Gariguette,2015/05/19,A,6,4,3,0,3,6,0,7,2,0,0,0,2,4,5968,5860
19,Gariguette,2015/02/12,A,3,1,3,0,3,0,0,11,1,0,2,0,2,4,2139,2067
20,Gariguette,2015/04/02,A,9,2,3,2,5,0,0,0,4,0,1,0,2,3,5159,5078
21,Gariguette,2015/02/12,A,7,0,8,0,8,0,0,15,0,0,7,0,1,4,2604,2603
22,Gariguette,2015/05/19,A,1,3,3,0,3,0,0,0,1,0,0,0,2,4,5298,5182
23,Gariguette,2015/04/02,A,7,0,11,0,11,23,0,23,0,0,4,2,1,4,4654,4653
24,Gariguette,2015/04/02,A,7,1,4,0,4,2,0,4,2,0,0,0,3,4,4656,4653
25,Gariguette,2014/12/10,A,9,0,7,3,10,0,0,0,4,0,5,1,1,3,562,561
26,Gariguette,2015/03/06,A,3,1,2,0,2,2,0,8,1,0,0,0,3,4,3129,3075
27,Gariguette,2015/05/19,A,4,1,2,0,2,6,0,6,1,0,0,0,2,4,5690,5654
28,Gariguette,2015/04/02,A,7,2,1,2,3,0,0,0,2,0,0,0,2,3,4667,4653
29,Gariguette,2015/05/19,A,9,1,2,0,2,10,0,10,0,0,1,0,3,4,6344,6293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,Gariguette,2015/04/02,A,8,2,2,0,2,10,0,11,1,0,0,0,2,4,5055,4768
212,Gariguette,2015/03/06,A,6,1,3,0,3,3,0,8,1,1,1,0,2,4,3520,3441
213,Gariguette,2015/05/19,A,7,1,3,0,3,5,0,5,1,0,1,0,3,4,6082,6054
214,Gariguette,2015/04/02,A,8,3,2,1,3,0,0,0,1,0,1,0,2,3,5060,4768
215,Gariguette,2015/04/02,A,1,2,5,0,5,0,0,0,3,1,1,0,2,4,4043,3879
216,Gariguette,2015/05/19,A,7,2,3,0,3,4,0,4,1,1,0,0,2,4,6092,6054
217,Gariguette,2015/03/06,A,2,1,3,0,3,0,0,7,1,0,2,0,3,4,3021,2987
218,Gariguette,2015/01/08,A,3,1,2,4,6,0,0,0,5,0,1,0,3,3,980,913
219,Gariguette,2015/05/19,A,7,3,2,0,2,0,0,5,1,0,1,0,2,4,6102,6054
220,Gariguette,2015/04/02,A,9,0,11,0,11,18,0,18,1,0,4,1,1,4,5079,5078
221,Gariguette,2015/05/19,A,2,1,3,0,3,0,0,9,0,1,1,0,2,4,5455,5328
222,Gariguette,2015/02/12,A,2,1,3,0,3,0,0,0,1,0,1,0,3,4,2017,1947
223,Gariguette,2015/03/06,A,7,0,3,0,3,0,0,0,0,0,2,0,1,4,3554,3553
224,Gariguette,2015/05/19,A,3,1,2,0,2,6,0,8,0,0,0,0,2,4,5604,5511
225,Gariguette,2015/05/19,A,3,2,4,0,4,0,0,2,3,0,0,0,3,4,5606,5511
226,Gariguette,2015/03/06,A,5,1,2,0,2,7,0,10,0,0,1,0,2,4,3409,3324
227,Gariguette,2015/05/19,A,7,1,2,0,2,8,0,9,0,0,1,0,2,4,6120,6054
228,Gariguette,2015/03/06,A,2,1,2,0,2,3,0,7,0,0,1,0,2,4,3051,2987
229,Gariguette,2015/04/02,A,6,1,2,0,2,8,0,8,0,0,0,0,3,4,4588,4556
230,Gariguette,2015/04/02,A,6,2,2,0,2,1,0,6,1,0,1,0,2,4,4593,4556
231,Gariguette,2015/03/06,A,7,1,5,0,5,20,0,23,0,1,3,0,2,4,3570,3553
232,Gariguette,2015/02/12,A,6,1,3,0,3,0,0,14,2,0,1,0,3,4,2547,2441
233,Gariguette,2015/04/02,A,1,2,3,0,3,2,0,9,0,0,3,0,2,4,4094,3879
234,Gariguette,2015/02/12,A,2,1,3,0,3,0,0,8,1,1,1,0,2,4,2038,1947
235,Gariguette,2015/05/19,A,9,3,3,0,3,5,0,5,1,0,0,1,2,4,6481,6293
236,Gariguette,2014/12/10,A,8,0,6,3,9,0,0,0,1,3,4,1,1,3,505,504
237,Gariguette,2015/05/19,A,3,2,4,0,4,14,0,14,1,0,2,0,2,4,5628,5511
238,Gariguette,2015/05/19,A,7,3,3,0,3,4,0,5,1,0,1,0,2,4,6141,6054
239,Gariguette,2015/01/08,A,8,0,11,0,11,0,0,19,1,0,9,1,1,4,1534,1533
240,Gariguette,2015/04/02,A,6,1,2,0,2,7,0,7,0,0,0,0,2,4,4607,4556

* **Example with Capriss**

In [7]:
Capriss_extraction_at_module_scale = extract_at_module_scale(Capriss)
Capriss_extraction_at_module_scale

,Genotype,date,modality,plant,order,nb_visible_leaves,nb_foliar_primordia,nb_total_leaves,nb_open_flowers,nb_aborted_flowers,nb_total_flowers,nb_vegetative_bud,nb_initiated_bud,nb_floral_bud,nb_stolons,type_of_crown,crown_status,vid,plant_vid
0,Capriss,2014/12/10,A,1,0,11,3,14,0,0,0,1,1,9,2,1,3,2,1
1,Capriss,2015/05/27,A,1,3,2,1,3,0,0,3,1,0,1,0,2,4,6156,5909
2,Capriss,2015/02/15,A,2,1,2,0,2,0,0,0,1,0,1,0,2,4,2065,1924
3,Capriss,2014/12/10,A,5,0,8,2,10,0,0,0,0,2,7,1,1,3,345,344
4,Capriss,2015/05/27,A,2,0,10,0,10,13,0,13,0,0,0,4,1,4,6176,6175
5,Capriss,2015/02/15,A,3,0,11,0,11,2,0,10,0,0,4,2,1,4,2089,2088
6,Capriss,2015/03/02,A,8,1,2,3,5,0,0,0,4,0,1,0,3,3,4138,3975
7,Capriss,2015/02/15,A,3,1,2,0,2,0,0,0,1,0,0,0,3,4,2091,2088
8,Capriss,2015/02/15,A,3,2,1,4,5,0,0,0,1,0,0,0,2,1,2096,2088
9,Capriss,2015/05/27,A,2,1,2,0,2,4,0,4,0,0,0,0,3,4,6203,6175
10,Capriss,2015/02/15,A,3,1,4,0,4,0,0,5,1,0,2,0,3,4,2110,2088
11,Capriss,2015/03/02,A,8,1,3,2,5,0,0,0,4,0,1,0,2,3,4160,3975
12,Capriss,2015/05/27,A,2,3,1,2,3,0,0,0,1,0,0,0,3,3,6216,6175
13,Capriss,2015/05/27,A,2,3,2,1,3,0,0,0,2,0,0,0,2,3,6226,6175
14,Capriss,2015/03/02,A,9,0,10,0,10,7,0,10,0,1,2,1,1,4,4187,4186
15,Capriss,2015/03/02,A,9,1,2,0,2,1,0,4,1,0,0,0,3,4,4189,4186
16,Capriss,2015/05/27,A,2,1,4,0,4,2,0,3,3,0,0,0,3,4,6240,6175
17,Capriss,2015/03/02,A,9,2,1,3,4,0,0,0,4,0,0,0,2,3,4194,4186
18,Capriss,2015/02/15,A,3,1,3,0,3,0,0,0,1,0,1,0,3,4,2152,2088
19,Capriss,2015/05/27,A,2,2,4,0,4,0,0,3,2,0,1,1,2,4,6251,6175
20,Capriss,2015/03/02,A,9,1,4,0,4,0,0,3,2,1,0,0,3,4,4213,4186
21,Capriss,2014/12/10,A,2,0,8,3,11,0,0,0,5,0,3,2,1,3,121,120
22,Capriss,2014/12/10,A,2,1,2,3,5,0,0,0,5,0,0,0,3,3,123,120
23,Capriss,2015/05/27,A,2,1,3,0,3,5,0,5,2,0,0,0,2,4,6277,6175
24,Capriss,2015/03/02,A,9,2,1,4,5,0,0,0,3,0,0,0,2,3,4231,4186
25,Capriss,2015/05/27,A,2,2,5,0,5,4,0,4,0,0,2,0,2,4,6285,6175
26,Capriss,2015/02/15,A,3,1,2,1,3,0,0,0,2,0,1,0,3,4,2194,2088
27,Capriss,2015/03/02,A,9,1,4,0,4,0,0,4,2,1,0,0,3,4,4246,4186
28,Capriss,2015/05/27,A,2,3,2,1,3,0,0,3,0,1,1,0,2,4,6303,6175
29,Capriss,2015/03/02,A,9,2,1,3,4,0,0,0,1,1,0,0,2,3,4262,4186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,Capriss,2015/04/03,A,1,2,2,2,4,0,0,0,3,0,1,0,2,3,4426,4357
352,Capriss,2015/02/15,A,1,1,2,1,3,0,0,0,1,0,1,0,3,3,1857,1803
353,Capriss,2015/05/27,A,1,1,1,0,1,5,0,5,0,0,0,0,3,4,5962,5909
354,Capriss,2015/05/27,A,1,2,3,0,3,3,0,3,2,0,0,0,2,4,5964,5909
355,Capriss,2015/03/02,A,7,1,3,2,5,0,0,0,4,0,1,0,3,3,3921,3765
356,Capriss,2015/05/27,A,1,3,4,0,4,2,0,3,2,0,2,0,2,4,5972,5909
357,Capriss,2015/03/02,A,7,1,3,0,3,3,0,3,2,0,1,0,2,4,3943,3765
358,Capriss,2015/05/27,A,1,1,3,0,3,6,0,7,0,0,0,0,3,4,5999,5909
359,Capriss,2015/02/15,A,1,1,2,1,3,0,0,0,3,0,0,0,2,3,1906,1803
360,Capriss,2015/05/27,A,1,2,3,0,3,3,0,3,1,1,0,0,2,4,6003,5909
361,Capriss,2015/05/27,A,1,3,3,0,3,2,0,4,1,1,1,0,2,4,6013,5909
362,Capriss,2015/02/15,A,2,0,11,0,11,0,0,13,0,0,3,2,1,4,1925,1924
363,Capriss,2015/02/15,A,2,1,3,0,3,0,0,0,1,0,1,0,3,4,1927,1924
364,Capriss,2015/03/02,A,8,0,15,0,15,4,0,10,0,2,3,3,1,4,3976,3975
365,Capriss,2015/03/02,A,8,1,4,0,4,3,0,6,3,0,0,0,3,4,3978,3975
366,Capriss,2015/02/15,A,2,1,3,1,4,0,0,0,2,0,1,0,3,4,1945,1924
367,Capriss,2015/03/02,A,8,2,2,2,4,0,0,0,3,0,1,0,2,3,3995,3975
368,Capriss,2015/05/27,A,1,1,5,0,5,4,0,4,0,0,1,0,3,4,6048,5909
369,Capriss,2015/03/02,A,8,1,6,0,6,3,0,5,3,0,0,0,3,4,4015,3975
370,Capriss,2015/05/27,A,1,2,1,2,3,0,0,0,1,0,1,0,2,3,6064,5909
371,Capriss,2015/02/15,A,2,1,4,0,4,0,0,0,1,0,1,0,3,4,1975,1924
372,Capriss,2015/05/27,A,1,1,5,0,5,3,0,3,2,0,2,0,3,4,6077,5909
373,Capriss,2015/03/02,A,8,2,2,2,4,0,0,0,4,0,0,0,2,3,4046,3975
374,Capriss,2015/05/27,A,1,2,3,0,3,4,0,4,1,1,1,0,2,4,6095,5909
375,Capriss,2015/05/27,A,1,1,5,0,5,4,0,4,2,0,2,0,2,4,6119,5909
376,Capriss,2015/03/02,A,8,1,4,0,4,4,0,4,2,1,0,0,3,4,4077,3975
377,Capriss,2015/03/02,A,8,2,1,3,4,0,0,0,2,0,0,0,2,3,4094,3975
378,Capriss,2015/05/27,A,1,2,4,0,4,4,0,4,0,0,3,0,2,4,6137,5909
379,Capriss,2015/02/15,A,2,1,2,1,3,0,0,0,1,0,1,0,3,4,2045,1924
380,Capriss,2015/04/03,A,6,2,4,0,4,0,0,5,0,1,3,0,3,4,5319,5222

* **Exemple of big mtg (All varieties) extraction at module scale**

In [8]:
All_varieties_extraction_at_module_scale = extract_at_module_scale(All_varieties)
All_varieties_extraction_at_module_scale

,Genotype,date,modality,plant,order,nb_visible_leaves,nb_foliar_primordia,nb_total_leaves,nb_open_flowers,nb_aborted_flowers,nb_total_flowers,nb_vegetative_bud,nb_initiated_bud,nb_floral_bud,nb_stolons,type_of_crown,crown_status,vid,plant_vid
0,Capriss,2015/04/03,A,3,1,2,0,2,9,0,9,1,0,0,0,3,4,16385,16344
1,Darselect,2014/12/10,A,1,0,5,0,5,0,0,7,1,0,0,2,1,4,2,1
2,Capriss,2015/05/27,A,9,2,3,0,3,4,0,4,2,0,0,0,2,4,19115,19104
3,Darselect,2015/03/06,A,8,3,1,2,3,0,0,0,1,1,0,0,2,3,2052,2016
4,Cir107,2014/12/10,A,1,0,8,2,10,0,0,0,2,0,6,2,1,3,4101,4100
5,Capriss,2015/04/03,A,3,2,4,1,5,0,0,0,3,0,1,0,2,3,16390,16344
6,Gariguette,2015/01/08,A,9,0,9,0,9,0,0,24,0,1,7,1,1,4,20909,20908
7,Cir107,2015/02/11,A,2,2,1,1,2,0,0,0,1,0,1,0,2,4,6153,6106
8,Capriss,2015/05/27,A,5,1,3,0,3,4,0,4,2,0,0,0,2,4,18442,18355
9,Capriss,2015/04/03,A,5,1,3,0,3,1,0,1,0,0,0,0,3,4,16727,16724
10,Capriss,2015/02/15,A,8,0,10,0,10,3,0,8,2,1,0,2,1,4,14348,14347
11,Capriss,2015/02/15,A,8,1,3,0,3,0,0,4,2,0,0,0,3,4,14350,14347
12,Gariguette,2015/04/02,A,1,2,2,2,4,0,0,5,3,0,1,0,2,4,23213,23167
13,Darselect,2014/12/10,A,1,1,2,2,4,0,0,0,2,0,2,0,2,3,17,1
14,Capriss,2015/05/27,A,5,2,4,0,4,4,0,4,2,0,1,0,2,4,18450,18355
15,Cir107,2015/05/20,A,2,1,3,0,3,4,0,6,0,0,0,0,3,4,10260,10248
16,Cir107,2015/04/02,A,8,2,2,0,2,0,0,9,0,0,1,0,2,4,9902,9787
17,Cir107,2015/03/04,A,7,2,2,0,2,0,0,5,1,0,1,0,2,4,8214,8123
18,Gariguette,2015/05/19,A,3,1,2,0,2,6,0,8,0,0,0,0,2,4,24892,24799
19,Cir107,2015/02/11,A,2,1,6,0,6,0,0,9,4,1,0,0,3,4,6171,6106
20,Darselect,2015/03/06,A,8,1,4,0,4,0,0,7,3,0,1,0,3,4,2076,2016
21,Gariguette,2015/03/06,A,4,2,1,3,4,0,0,0,2,0,2,0,2,3,22557,22482
22,Capriss,2015/05/27,A,5,3,4,1,5,0,0,3,4,0,1,0,2,4,18463,18355
23,Darselect,2014/12/10,A,2,0,5,0,5,0,0,9,2,0,0,2,1,4,37,36
24,Gariguette,2015/03/06,A,8,1,2,0,2,6,0,12,0,0,1,0,2,4,22983,22915
25,Cir107,2015/05/20,A,2,3,1,1,2,0,0,0,1,0,0,1,2,3,10279,10248
26,Capriss,2015/04/03,A,3,1,3,0,3,5,0,6,2,0,0,0,3,4,16424,16344
27,Capriss,2015/02/15,A,8,1,4,0,4,0,0,0,3,0,1,0,3,4,14377,14347
28,Cir107,2015/03/04,A,9,1,4,0,4,0,0,0,3,0,1,0,3,3,8541,8441
29,Cir107,2015/03/04,A,7,1,3,0,3,2,0,4,1,0,1,0,3,4,8240,8123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,Darselect,2015/05/20,A,9,1,3,0,3,5,0,5,0,1,0,0,2,4,4041,4020
1206,Cir107,2015/03/04,A,7,2,2,0,2,0,0,4,1,0,0,0,2,4,8139,8123
1207,Darselect,2015/03/06,A,7,1,4,0,4,0,0,0,1,1,1,0,2,3,1996,1977
1208,Capriss,2015/05/27,A,3,2,2,0,2,3,0,3,1,0,0,0,2,4,18082,17986
1209,Capriss,2015/05/27,A,5,4,1,1,2,0,0,0,1,0,0,1,2,3,18382,18355
1210,Gariguette,2015/05/19,A,1,2,2,0,2,7,0,7,0,0,1,0,2,4,24527,24470
1211,Cir107,2015/03/04,A,7,3,1,3,4,0,0,0,3,0,0,0,2,3,8144,8123
1212,Darselect,2015/05/20,A,9,2,4,0,4,0,0,5,1,1,2,0,3,4,4049,4020
1213,Gariguette,2015/03/06,A,4,0,12,0,12,15,0,15,3,0,7,0,1,4,22483,22482
1214,Capriss,2015/03/02,A,2,1,2,0,2,0,0,5,1,0,1,0,2,4,14865,14792
1215,Gariguette,2015/05/19,A,2,0,11,0,11,20,0,23,0,0,1,0,1,4,24617,24616
1216,Gariguette,2015/05/19,A,1,3,3,0,3,0,0,0,1,0,1,0,2,4,24534,24470
1217,Capriss,2015/04/03,A,3,0,11,0,11,24,0,24,0,0,2,3,1,4,16345,16344
1218,Cir107,2015/02/11,A,2,0,13,0,13,0,0,16,0,1,3,3,1,4,6107,6106
1219,Cir107,2015/02/11,A,2,1,6,0,6,0,0,14,2,0,2,0,3,4,6109,6106
1220,Capriss,2015/04/03,A,3,2,4,1,5,0,0,0,3,1,1,0,2,3,16350,16344
1221,Cir107,2015/02/11,A,2,2,2,2,4,0,0,0,3,0,0,0,3,3,6111,6106
1222,Gariguette,2015/05/19,A,1,4,3,0,3,0,0,4,1,0,0,2,2,4,24544,24470
1223,Darselect,2015/03/06,A,8,0,11,0,11,4,0,13,1,0,5,2,1,4,2017,2016
1224,Capriss,2015/02/15,A,5,1,3,0,3,0,0,0,1,0,1,0,3,4,13990,13987
1225,Gariguette,2015/04/02,A,9,2,2,2,4,0,0,0,2,0,1,0,2,3,24413,24366
1226,Cir107,2015/05/20,A,1,2,2,0,2,0,0,0,0,1,0,0,2,4,10216,10021
1227,Darselect,2015/05/20,A,9,2,3,1,4,0,0,0,1,0,2,0,2,3,4074,4020
1228,Darselect,2015/03/06,A,8,1,4,0,4,4,0,6,1,1,1,0,3,4,2028,2016
1229,Capriss,2014/12/10,A,8,0,6,2,8,0,0,0,3,1,3,1,1,3,12270,12269
1230,Cir107,2015/05/20,A,1,3,3,0,3,1,0,5,2,1,0,0,2,4,10223,10021
1231,Capriss,2015/05/27,A,5,3,1,1,2,2,0,2,2,0,0,0,2,4,18416,18355
1232,Gariguette,2015/05/19,A,1,1,2,0,2,8,0,9,1,0,0,0,2,4,24563,24470
1233,Capriss,2015/02/15,A,7,2,2,5,7,0,0,0,4,0,0,0,2,3,14328,14268
1234,Darselect,2015/03/06,A,8,2,2,0,2,1,0,4,0,0,1,0,2,4,2045,2016

## 3. Exploratory data analysis at module scale

Exploratory analysis analysis at module scale consisted in comparing the frequency distribution of five main variables:  
    1. Occurence of successive module orders along time
    2. Number of leaves by module orders
    3. Number of flowers  by module orders
    4. Number of stolons by module orders
    5. Type of crown (extension crown vs branch crown) by module orders

### 3.1. Occurence of the successive module orders along time

* **For Gariguette varieties**

In [ ]:
Gariguette_frequency = occurence_module_order_along_time(data= Gariguette_extraction_at_module_scale,frequency_type= "cdf")
Gariguette_frequency

In [ ]:
Gariguette_frequency.plot.line(marker = "o")
plt.axhline(y = 0.9, color = "r") # threshold at 0.9 quartile, 
plt.axhline(y = 0.75, color = "b") # threshold at 0.75 quartile
plt.title("Occurence of succesive module order along time for Gariguette")
plt.ylabel("cdf")

* **For Capriss varieties**

In [ ]:
Capriss_frequency = occurence_module_order_along_time(data= Capriss_extraction_at_module_scale,frequency_type= "cdf")
Capriss_frequency

In [ ]:
Capriss_frequency.plot.line(marker = "p")
plt.axhline(y = 0.9, color = "r") # threshold at 0.9 quartile, 
plt.axhline(y = 0.75, color = "b") # threshold at 0.75 quartile
plt.title("Occurence of successive module order for Capriss")
plt.ylabel("cdf")

### 3.2 Pointwise mean no. Leaves, Flowers, Stolon by module order

The first step is calcul mean and standard deviation for each variable by genotype and order

In [ ]:
Mean= All_varieties_extraction_at_module_scale.groupby(["Genotype", "order"]).mean()
sd= All_varieties_extraction_at_module_scale.groupby(["Genotype", "order"]).std()

In [ ]:
Mean

In [ ]:
sd

#### 3.2.1 Pointwise mean no. leaves by module order and gÃ©notype

In [ ]:
pointwisemean_plot(data_mean=Mean,
                   data_sd=sd,
                   varieties=["Gariguette","Capriss","Cir107","Darselect"], 
                   variable='nb_total_leaves',
                   title= "Pointwisemean of no.leaves",
                   ylab="Mean no.leaves")

#### 3.2.2 Pointwise mean of no. total flowers by genotype and orders

In [ ]:
pointwisemean_plot(data_mean=Mean,
                   data_sd=sd,
                   varieties=["Gariguette","Capriss","Cir107","Darselect"], 
                   variable='nb_total_flowers',
                   title= "Pointwisemean of no. flowers",
                   ylab="Mean no. flowers")

### 3.4 Number of stolons by module orders

In [ ]:
pointwisemean_plot(data_mean=Mean,
                   data_sd=sd,
                   varieties=["Gariguette","Capriss","Cir107","Darselect"], 
                   variable='nb_stolons',
                   title= "Pointwisemean of no. stolons",
                   ylab="Mean no. stolons")

### 3.5 Type of Crowns (Extension crown vs Branch crowns)

In [ ]:
crowntype_distribution(data= All_varieties_extraction_at_module_scale, varieties=["Gariguette","Capriss","Cir107","Darselect"],crown_type="branch_crown")

In [ ]:
t=crowntype_distribution(data= All_varieties_extraction_at_module_scale, varieties=["Gariguette","Capriss","Cir107","Darselect"],crown_type="extension_crown")

In [ ]:
from scipy import stats

In [ ]:
stats.kruskal(t.c, y)

In [ ]:
t.loc["Capriss"]["branch_crown"]

In [16]:
import statsmodels.sandbox.stats.multicomp

In [22]:
statsmodels.sandbox.stats.multicomp.MultiComparison(data= All_varieties_extraction_at_module_scale,groups=["Genotype","order"])

ValueError: data has 1235 elements and groups has 2

In [ ]:
statsmodels.sandbox.stats.multicomp.MultiComparison()